@use "lkt-table-config";


@mixin generate() {
  [data-lkt="table"] {
    width: lkt-table-config.$width;
    overflow-x: auto;
    font-family: lkt-table-config.$font-family;

    > table {
      width: 100%;
      max-width: 100%;
      border-collapse: separate;
      border-radius: lkt-table-config.$border-radius;
      border-spacing: 0;

      th,
      td {
        vertical-align: middle;
        text-align: center;
        padding: lkt-table-config.$padding-td;
        font-size: lkt-table-config.$font-size;
        color: lkt-table-config.$font-color;
      }

      th {
        font-family: lkt-table-config.$font-family-th;
        padding: lkt-table-config.$padding-th;
      }

      thead {
        tr {
          background-color: lkt-table-config.$header-background;
        }
      }

      tbody {
        tr {
          background-color: lkt-table-config.$row-background;

          &:nth-child(odd) {
            background-color: lkt-table-config.$row-background-odd;
          }
        }
      }

      [data-sort="asc"],
      [data-sort="desc"] {
        > div {
          display: inline-block;
        }

        &:after {
          font-family: lkt-table-config.$sort-font-icon;
          display: inline-block;
          font-size: lkt-table-config.$sort-icon-size;
        }
      }

      [data-sort="asc"] {
        &:after {
          content: lkt-table-config.$sort-asc-icon;
        }
      }

      [data-sort="desc"] {
        &:after {
          content: lkt-table-config.$sort-desc-icon;
        }
      }
    }

    td[data-role="drag-indicator"],
    td[data-role="invalid-drag-indicator"] {
      width: lkt-table-config.$width-drag-indicator;
      height: 40px;
      padding: 0 !important;
      position: relative;
      background: #eeeeee;
      cursor: pointer;

      &:before {
        content: '';
        display: block;
        background: #eeeeee;
        width: 18px;
        height: 36px;
        margin: auto;
      }

      &:after {
        content: "\2026";
        color: #000000;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 700;
        width: 15px;
        height: 7px;
        transform: rotate(90deg);
        transform-origin: center center;
      }
    }

    td[data-role="invalid-drag-indicator"] {
      opacity: .2;
    }
  }

  [data-lkt="empty-table"] {
    border: 1px solid #ddd;
    border-radius: lkt-table-config.$border-radius;
    width: 100%;
    padding: 10px;
    background-color: #f8f7e5;
    font-family: lkt-table-config.$font-family-empty;
    font-size: 13px;
    color: #444;
    text-align: center;
  }

  .sortable-chosen {
    border: lkt-table-config.$sortable-chosen-border;
  }

  .sortable-chosen.ghost {
    background: lkt-table-config.$sortable-chosen-ghost-background;
  }

  @content;
}