$sort-font-icon: '';
$sort-asc-icon: '';
$sort-desc-icon: '';
$sort-icon-size: 11px;
$sortable-chosen-border: 3px dashed #aaaaaa;
$sortable-chosen-ghost-background: #aaaaaa;
$font-family: Verdana,Arial,Helvetica,sans-serif;
$font-family-th: Verdana,Arial,Helvetica,sans-serif;
$font-family-empty: Verdana,Arial,Helvetica,sans-serif;
$header-background: #ffffff;
$row-background: #ffffff;
$row-background-odd: #eaeaea;
$padding-th: 10px;
$padding-td: 15px;
$border-radius: 4.5px;
$width: 100%;
$font-size: 13px;
$font-color: #444;
$width-drag-indicator: 40px;