.lkt-table {
    width: var(--table-width);
    overflow-x: auto;
    font-family: var(--table-font-family);
}

.lkt-table > table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-radius: var(--table-border-radius);
    border-spacing: 0;
}

.lkt-table th,
.lkt-table td {
    vertical-align: middle;
    text-align: var(--table-text-align);
    padding: var(--table-row-padding);
    font-size: var(--table-row-font-size);
    color: var(--table-row-color);
}

.lkt-table th {
    font-family: var(--table-header-font-family);
    padding: var(--table-header-padding);
}

.lkt-table thead tr {
    background-color: var(--table-header-background)
}

.lkt-table tbody tr {
    background-color: var(--table-row-background);
}

.lkt-table tbody tr:nth-child(odd) {
    background-color: var(--table-row-background-odd);
}

.lkt-table [data-sort="asc"] > div,
.lkt-table [data-sort="desc"] > div {
    display: inline-block;
}

.lkt-table [data-sort="asc"] > div:after,
.lkt-table [data-sort="desc"] > div:after {
    font-family: var(--table-sort-icon-font-family);
    display: inline-block;
    font-size: var(--table-sort-icon-font-size);
}

.lkt-table [data-sort="asc"] > div:after {
    content: var(--table-sort-asc-icon-content);
}

.lkt-table [data-sort="desc"] > div:after {
    content: var(--table-sort-desc-icon-content);
}

.lkt-table td[data-role="drag-indicator"],
.lkt-table td[data-role="invalid-drag-indicator"] {
    width: var(--table-drag-indicator-width);
    height: 40px;
    padding: 0 !important;
    position: relative;
    background: #eeeeee;
    cursor: pointer;
}

.lkt-table td[data-role="drag-indicator"]:before,
.lkt-table td[data-role="invalid-drag-indicator"]:before {
    content: '';
    display: block;
    background: #eeeeee;
    width: 18px;
    height: 36px;
    margin: auto;
}

.lkt-table td[data-role="drag-indicator"]:after,
.lkt-table td[data-role="invalid-drag-indicator"]:after {
    content: "\2026";
    color: #000000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 700;
    width: 15px;
    height: 7px;
    transform: rotate(90deg);
    transform-origin: center center;
}

[data-lkt="empty-table"] {
    border: 1px solid #ddd;
    border-radius: var(--table-border-radius);
    width: 100%;
    padding: 10px;
    background-color: #f8f7e5;
    font-family: var(--table-font-family);
    font-size: 13px;
    color: #444;
    text-align: var(--table-text-align);
}

.sortable-chosen {
    border: var(--table-sortable-chosen-border);
}

.sortable-chosen.ghost {
    background: var(--table-sortable-chosen-ghost-background);
}