:root {
    --lkt-table-page-gap: 15px;

    --lkt-table-width: 100%;
    --lkt-table-font-family: system-ui, Helvetica;
    --lkt-table-font-family-header: system-ui, Helvetica;

    --lkt-table-border-radius: 5px;
    --lkt-table-text-align: left;

    --lkt-table-padding-row: 15px;
    --lkt-table-padding-header: 15px;

    --lkt-table-font-size-row: 16px;
    --lkt-table-color-row: #444444;
    --lkt-table-bg-header: #ffffff;
    --lkt-table-bg-row: #ffffff;
    --lkt-table-bg-row-odd: #f1f1f1;

    --lkt-table-font-family-sort-icon: Verdana, Arial, Helvetica, sans-serif;
    --lkt-table-font-size-sort-icon: 11px;

    --lkt-table-sort-icon-content-asc: '';
    --lkt-table-sort-icon-content-desc: '';

    --lkt-table-width-drag: 20px;
    --lkt-table-border-sortable-chosen: 3px dashed #cccccc;
    --lkt-table-bg-sortable-chosen-ghost: #aaaaaa;

    --lkt-table-gap-buttons: 15px;
    --lkt-table-width-col-drop: auto;
    --lkt-table-text-align-col-drop: right;
}